In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

# Exploring the dataset

In [2]:
# train = pd.read_csv("data/small_train.csv")
# test = pd.read_csv("data/small_test.csv")
train = pd.read_csv("data/politicians_train.csv")
test = pd.read_csv("data/politicians_test.csv")
train.head()

,Anti_satellite_test_ban,Aid_to_nicaraguan_contras,Mx_missile,Immigration,Superfund_right_to_sue,Duty_free_exports,Export_south_africa,Party
0,n,n,n,y,y,y,y,democrat
1,n,n,n,y,y,n,y,republican
2,y,y,y,n,n,y,y,democrat
3,y,y,n,n,n,y,y,democrat
4,y,y,n,n,n,y,y,democrat

In [3]:
train.describe()

,Anti_satellite_test_ban,Aid_to_nicaraguan_contras,Mx_missile,Immigration,Superfund_right_to_sue,Duty_free_exports,Export_south_africa,Party
count,149,149,149,149,149,149,149,149
unique,2,2,2,2,2,2,2,2
top,y,n,n,n,y,n,y,democrat
freq,81,86,96,82,92,90,126,83

Dataset contains categorical data with 2 categories for each feature. These features need to be encoded for which ordinal encoder from scikit-learn can be used

In [4]:
encoder = OrdinalEncoder()
encoded_train = encoder.fit_transform(train)
encoded_test = encoder.transform(test)
encoded_train[:5,:]
encoded_train.shape, encoded_test.shape

((149, 8), (83, 8))

The dataset can be separated into features and labels for training the decision tree using sklearn decision tree classifier

In [5]:
x_train, y_train = encoded_train[:,:-1], encoded_train[:,-1]
x_test, y_test = encoded_test[:,:-1], encoded_test[:,-1]
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((149, 7), (149,), (83, 7), (83,))

In [6]:
model = DecisionTreeClassifier()
mod = model.fit(x_train, y_train)

In [7]:
predictions = mod.predict(x_test)
accuracy_score(y_test, predictions)

0.8072289156626506

In [8]:
from sklearn import tree
tree.export_graphviz(mod,out_file='tree.dot',feature_names=train.columns[:-1])

In [9]:
!dot -Tpng tree.dot -o tree.png

In [10]:
train.head()

,Anti_satellite_test_ban,Aid_to_nicaraguan_contras,Mx_missile,Immigration,Superfund_right_to_sue,Duty_free_exports,Export_south_africa,Party
0,n,n,n,y,y,y,y,democrat
1,n,n,n,y,y,n,y,republican
2,y,y,y,n,n,y,y,democrat
3,y,y,n,n,n,y,y,democrat
4,y,y,n,n,n,y,y,democrat